@{
    ViewData["Title"] = "Rental";
}

@model RentalViewModel 

<div class="text-center">
    <h1 class="display-4">Rent a baby! no wait we rent cars</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
@Model.Begin
</div>
